@import url("http://fonts.cdnfonts.com/css/gotham-rounded");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/*################################################################################## */
:root {
  /*-------PAGE COLORS------------  */

  --btn-bg-color: #5d4fff;

  --light-blue-main: #cee9ff;
  --light-blue-secon: #61deec;
  --bright-main: #fbfdff;
  --dark-blue: #094685;
  --footer-color: #204289;
  --btn-blue: #0086ff;
  --grey: #9da7c0;

  /* ---------FONT COLORS--------------- */

  --main-font-color: #534f6a;
  --h1-font-color: #181443;
  --h3-font-color: #ff858d;
  --heading-accent-font-color: #5d4fff;

  /* -------------------------------- */

  /*--------------- FONTS------------------ */
  /* --main-font: "Gotham Rounded", sans-serif;
  --main-font: "Poppins", sans-serif;
  --main-font: "Nunito", sans-serif;
  --main-font: "Ubuntu", sans-serif;
  --main-font: "Poppins", sans-serif; */
  --main-font: "Plus Jakarta Sans", sans-serif;

  /* --------------MISC------------------ */

  --btn-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}
/*################################################################################## */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--main-font);
  font-size: 16px;
}

body {
  font-weight: 500;
}

p {
  color: var(--main-font-color);
}

h1 {
  color: var(--h1-font-color);
}

h3 {
  color: var(--h3-font-color);
}

a {
  text-decoration: none;
  color: var(--h1-font-color);
}

header {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1440px;
}

.navbar {
  display: flex;
  padding: 1.5rem 6vw;
  height: 12vh;
  max-height: 5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #efeef6;
  background-color: #fff;
  box-shadow: 0 5px 14px 0 rgb(15 12 49 / 6%);
}

.logo {
  display: flex;
  width: 10vw;
  width: clamp(24px, 1rem + 6vw, 4rem);
  align-items: center;
  max-width: 2.4rem;
}

.logo-img {
  width: 100%;
}

.logo::after {
  content: "Starosta";
  font-size: 1.5rem;
  font-size: clamp(16px, 0.5rem + 3vw, 1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0.3rem;
  letter-spacing: -0.1rem;
}

.burger {
  font-size: 6vw;
  margin-right: 1rem;
}

.nav-list {
  display: none;
  margin-right: -2rem;
}

.nav-list li {
  font-size: 0.9rem;
  list-style-type: none;
  font-weight: bold;
  letter-spacing: -0.05rem;
}

.btn-nav-apoint {
  border-style: none;
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  background-color: var(--btn-bg-color);
  color: #fff;
  border-radius: 0.7rem;
  text-align: center;
  padding: 0.5rem 2rem;
  font-weight: 700;
}

.apoint-btn:hover {
  background: #a2b8dd;
  color: #e0e4eb;
}

@media (min-width: 770px) {
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .burger {
    display: none;
  }

  html {
    font-size: 22px;
  }
}

/* ---------------------------------------------------- */

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 6rem;
}

.hero-text {
  margin-top: 3rem;
  padding: 0 6vw;
}

.hero-headings {
  display: flex;
  flex-direction: column;
}

.hero-headings h3 {
  font-size: clamp(12px, 1vw + 1rem, 1vw);
  text-transform: uppercase;
  letter-spacing: clamp(1px, 1vw, 0.7rem);
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.hero-headings h1 {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

.hero-headings p {
  line-height: 1.5rem;
  word-spacing: 0.2rem;
  margin-bottom: 2.5rem;
}

.accent-color-heading {
  color: var(--heading-accent-font-color);
}

.cta-container {
  display: flex;
  justify-content: center;
}

.btn-apoint {
  display: block;
  width: 100%;
  background-color: var(--btn-bg-color);
  color: #fff;
  border-radius: 0.7rem;
  text-align: center;
  padding: 1rem 2rem;
  font-weight: 700;
  box-shadow: var(--btn-shadow);
}

.hero-images {
  height: 100%;
  width: 100%;
}

.header-img-container {
  width: 100%;
  height: 100%;
}

.header-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 700px) {
  .hero-section {
    flex-direction: row;
    align-items: center;
    height: 88vh;
  }

  .hero-text {
    width: 50%;
  }

  .cta-container {
    justify-content: flex-start;
  }

  .hero-images {
    width: 50%;
  }
}

/* ------------------MAIN-------------------------------- */
main {
  display: flex;
  flex-direction: column;
}

.about-us {
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.au-text {
  margin-bottom: 3rem;
}

.wda {
  background-color: red;
  display: inline-block;
}
.au-text h4 {
  color: var(--h3-font-color);
  display: inline-block;
  padding: 0.7rem 1.5rem;
  font-size: clamp(12px, 1vw + 1rem, 1vw);
  text-transform: uppercase;
  /* letter-spacing: clamp(1px, 1vw, 0.7rem); */
  font-weight: 800;
  border-style: solid;
  border-width: 1px;
  border-color: #efeef6;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgb(15 12 49 / 2%), 0 5px 15px 0 rgb(93 79 255 / 12%);
  line-height: 1.125em;
  font-weight: 800;
  font-size: 0.6rem;
  margin-bottom: 1rem;
}

.au-text h2 {
  color: var(--h1-font-color);
  line-height: 1.5rem;
  word-spacing: 0.2rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.au-text p {
  line-height: 1.5rem;
  word-spacing: 0.2rem;
  margin-bottom: 2.5rem;
}

.btn-container {
}

.cta-btn {
  display: block;
  /* width: 100%; */
  background-color: var(--btn-bg-color);
  color: #fff;
  border-radius: 0.7rem;
  text-align: center;
  padding: 1rem 2rem;
  font-weight: 700;
  box-shadow: var(--btn-shadow);
}

.au-img-container {
}

.about-us-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 5%;
}

@media (min-width: 700px) {
  .about-us {
    flex-direction: row;
    gap: 5rem;
  }

  .au-text {
    width: 50%;
  }

  .au-img-container {
    width: 70%;
    order: -1;
  }

  .about-us-img {
    /* height: auto; */
  }
}
