@import url("http://fonts.cdnfonts.com/css/gotham-rounded");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --main-font-color: #3a3a3a;
  --second-font-color: #181818;
  --third-font-color: #141414;

  --light-blue-main: #cee9ff;
  --light-blue-secon: #61deec;
  --dark-blue: #094685;
  --footer-color: #204289;
  --btn-blue: #0086ff;
  --grey: #9da7c0;

  /* --main-font: "Gotham Rounded", sans-serif; */
  --main-font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--main-font);
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* min-height: 100vh; */
  width: 100%;
  background-color: var(--light-blue-main);
  /* background: url(img/svg.png); */
  background-repeat: no-repeat;
  background-position: bottom;
}

.bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--light-blue-main);
}
.navbar {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  background-color: var(--light-blue-main);
  /* background-color: red; */
  margin-bottom: 2rem;
}

.logo {
  width: 4.5rem;
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.logo-img {
  width: 100%;
}

.logo::after {
  content: "Starosta";
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1rem;
  letter-spacing: 0.4rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 15rem;
}

.nav-links li {
  margin-right: 4rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.apoint-btn {
  align-items: center;
  background-color: var(--btn-blue);
  border-radius: 1.5rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  /* display: inline-flex; */
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  /* height: 48px; */
  letter-spacing: 0.05rem;
  max-width: 100%;
  padding: 0.75rem 2rem;
  text-align: center;
  touch-action: manipulation;
  width: auto;
}

.apoint-btn:hover {
  background: #a2b8dd;
  color: #e0e4eb;
}
/* ---------------------------------------------------- */

.hero-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* background-color: brown; */
  margin-top: 0.5rem;
}

.hero-text {
  /* align-self: flex-start; */
  padding: 2rem 5rem;
  /* background-color: aqua; */
  width: 50%;
  max-width: 100%;
}

.hero-headings {
  /* background-color: blueviolet; */
}

.hero-headings h3 {
  color: #ff7871;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.75rem;
  word-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  /* text-shadow: 2px 2px #3232328a; */
}

.hero-headings h1 {
  font-size: 5rem;
  font-size: clamp(1px, 10vw, 5rem);
  font-weight: 600;
  line-height: 4.5rem;
  line-height: clamp(0.5rem, 10vw, 5rem);
}

.hero-images {
  /* background-color: red; */
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  margin-right: 2rem;
  /* width: 125rem; */
  width: 50%;
  max-width: 100%;
}

.header-img-container {
  width: 26rem;
  /* background-color: #ff7871; */
  max-width: 100%;
}

.header-img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

main {
  height: 1000px;
  display: flex;
  flex-direction: column;
  background-color: var(--second-bg-color);
}

.about-us {
  display: flex;
  justify-content: space-around;
  background-color: #fbfffd;
  padding: 4rem 4rem;
  /* height: 100vh; */
}

.au-img-container {
  width: 50%;
}

.au-img-container {
  width: 25rem;
  height: 25rem;
}

.about-us-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, #00000024 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.au-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
}

.au-text h2 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
}

.au-text p {
  font-size: 1.3rem;
}
