:root {
  --main-font-color: #3a3a3a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

header {
  height: 100vh;
  background-color: #92b2ee;
  position: relative;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #92b2ee;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  background-color: #92b2ee;
  margin-bottom: 2rem;
}

.logo {
  width: 4.5rem;
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.logo-img {
  width: 100%;
}

.logo::after {
  content: "Starosta";
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1rem;
  letter-spacing: 0.4rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 15rem;
}

.nav-links li {
  margin-right: 4rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.apoint-btn {
  align-items: center;
  background-color: #fff;
  border-radius: 1.5rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  /* display: inline-flex; */
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  /* height: 48px; */
  letter-spacing: 0.05rem;
  max-width: 100%;
  padding: 0.75rem 2rem;
  text-align: center;
  touch-action: manipulation;
  width: auto;
}

.apoint-btn:hover {
  background: #a2b8dd;
  color: #e0e4eb;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: brown; */
  margin-top: 0.5rem;
}

.hero-text {
  /* align-self: flex-start; */
  padding: 2rem 5rem;
  /* background-color: aqua; */
  width: 100%;
}

.hero-headings {
  /* background-color: blueviolet; */
}

.hero-headings h3 {
  color: rgb(233, 80, 24);
  font-size: 1rem;
  font-weight: 1000;
  letter-spacing: 0.75rem;
  word-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

.hero-headings h1 {
  font-size: 5rem;
  line-height: 5rem;
}
.hero-images {
  display: flex;
  width: 100%;
  gap: 3rem;
  justify-content: flex-end;
  margin-right: 2rem;
}

.header-img-container {
  display: flex;
  width: 25vw;
}

.header-img {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

main {
  height: 1000px;
}
