/* TST */
@import url("http://fonts.cdnfonts.com/css/gotham-rounded");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
  --main-font-color: #3a3a3a;
  --second-font-color: #181818;
  --third-font-color: #141414;
  --dark-blue-font-clr: #0d3656;
  --grey-font-color: #777777;

  --light-blue-main: #cee9ff;
  --light-blue-secon: #61deec;
  --bright-main: #fbfdff;
  --dark-blue: #094685;
  --footer-color: #204289;
  --btn-blue: #0086ff;
  --grey: #9da7c0;

  /* --main-font: "Gotham Rounded", sans-serif; */
  --main-font: "Poppins", sans-serif;
  --main-font: "Nunito", sans-serif;
  --main-font: "Ubuntu", sans-serif;
  --sec-font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--main-font);
  height: 100%;
}

body {
  /* background-color: red; */
  background-color: var(--light-blue-main);
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

header {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh;
  padding-left: 6rem;
  padding-right: 6rem;
}

.navbar {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  padding-top: 2rem;
  background-color: var(--light-blue-main);
  margin-bottom: 5rem;
}

.logo {
  width: 6rem;
  display: flex;
  align-items: center;
}

.logo-img {
  width: 100%;
}

.logo::after {
  content: "Starosta";
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1rem;
  letter-spacing: -0.1rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 20rem;
}

.nav-links li {
  margin-right: 4rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.apoint-btn {
  background-color: var(--btn-blue);
  border-radius: 1rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 1rem 2.5rem;
}

.apoint-btn a {
  /* color: var(--bright-main); */
}

.apoint-btn:hover {
  background: #a2b8dd;
  color: #e0e4eb;
}
/* ---------------------------------------------------- */

.hero-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 50%;
  max-width: 100%;
}

.hero-headings {
  display: flex;
  flex-direction: column;
}

.hero-headings h3 {
  color: #ff7871;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.75rem;
  word-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

.hero-headings h1 {
  font-size: clamp(1px, 13vw, 6rem);
  font-weight: 600;
  line-height: 5rem;
  letter-spacing: -0.3rem;
  /* background-color: rebeccapurple; */
}

.hero-images {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  width: 50%;
}

.header-img-container {
  width: 26rem;
  max-width: 100%;
}

.header-img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--second-bg-color);
}

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bright-main);
  padding: 4rem 4rem;
  height: 100vh;
}

.au-img-container {
  width: 50%;
}

.au-img-container {
  width: 40rem;
  height: 35rem;
}

.about-us-img {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, #00000024 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.au-text {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  justify-content: center;
  /* align-items: center; */
  width: 50%;
  padding: 0 5rem;
}

.au-text h2 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -0.2rem;
  margin-bottom: 2rem;
}

.au-text p {
  font-size: 1.3rem;
  color: var(--grey-font-color);
  line-height: 2.5rem;
  font-family: var(--sec-font);
  margin-bottom: 2rem;
}

.btn-container {
  /* width: 25%; */
  /* background-color: brown; */
}

.cta-btn {
  background-color: var(--btn-blue);
  border-radius: 1rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--bright-main);
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 1.5rem 2.5rem;
}
